<div class="jumbotron header-intro">
  <div class="container text-center">
    <h1>An Introduction to Machine Learning</h1>
    <p> 
      <button class="btn btn-primary" id="start">START</button>
    </p>
  </div>
</div>

<div class="intro-text text-center">
  <h2> In this visually immersive experience, we go over briefly about how machine learning
  can be used to identify patterns in data, and from there make highly accurate predictions about future datasets. 
  <h2>
  <h2>
    We will be using the relatively simple Iris dataset in our visualization. This dataset contains 4 attributes describing irises,
    which will be used in combination to predict the type of iris plant. In machine learning terms, this is considered a classifying task.
  </h2>
</div>